%h3
  = I18n.t('New advertisement')
%p.gray
  Please adds your advertisement
- if @errors && @errors.any?
  %div#error_explanation
    %span
      = "#{pluralize(@errors.count, "error")} prohibited this task from being saved:"
    %ul
      - @errors.full_messages.each do |msg|
        %li
          = msg

= form_for @advertisement do |f|
  .row
    .column
      = f.label :title
    .column
      = f.text_field :title
  .row
    .column
      = f.label :description
    .column
      = f.text_area :description, rows: 10
  .row
    .column
      = f.label :price
    .column
      = f.text_field :price
  .row
    .column
      = f.submit I18n.t("send"), class: 'button'
